<a href="https://colab.research.google.com/github/drsubirghosh2008/drsubirghosh2008/blob/main/PW_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Consider following code to answer further questions:
import pandas as pd
course_name = [‘Data Science’, ‘Machine Learning’, ‘Big Data’, ‘Data Engineer’]
duration = [2,3,6,4]
df = pd.DataFrame(data = {‘course_name’ : course_name, ‘duration’ : duration})

Q1. Write a code to print the data present in the second row of the dataframe, df.

Answer:

In [2]:
import pandas as pd

course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]

df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

In [4]:
print(df)

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
# Print the data in the second row (index 1)
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Answer:

In Pandas, .loc and .iloc are used to access specific rows and columns within a DataFrame, but they operate in different ways:

.loc

Label-Based Indexing: .loc is used to access rows and columns based on labels (index names).

Inclusive: Both the start and end points are included if a range is specified.
Syntax: df.loc[row_label, column_label]

In [5]:
# Example:

df.loc[1, 'course_name']  # Accesses the 'course_name' of the row with label 1

'Machine Learning'

Integer-Based Indexing: .iloc is used to access rows and columns based on integer positions, similar to standard Python indexing.

Exclusive Range: For ranges, .iloc follows Python’s zero-based indexing, so the endpoint is exclusive.

Syntax: df.iloc[row_position, column_position]

In [6]:
df.iloc[1, 0]  # Accesses the element in the second row, first column (index 1, position 0)

'Machine Learning'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Did you observe any difference in both the outputs? If so then explain it.
Consider the below code to answer further questions:

import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Code Implementation
Reindex df using [3, 0, 1, 2] and assign it to new_df.
Use .loc and .iloc to access the row with index 2.

In [7]:
import pandas as pd
import numpy as np

# Original DataFrame
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2, 3, 6, 4]
df = pd.DataFrame(data={'course_name': course_name, 'duration': duration})

# Reindexing
reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)

# Accessing the row using .loc and .iloc
loc_output = new_df.loc[2]
iloc_output = new_df.iloc[2]

print("Output of new_df.loc[2]:")
print(loc_output)
print("\nOutput of new_df.iloc[2]:")
print(iloc_output)

Output of new_df.loc[2]:
course_name    Big Data
duration              6
Name: 2, dtype: object

Output of new_df.iloc[2]:
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Explanation of the Difference in Outputs:

1. new_df.loc[2]:

.loc accesses rows based on the index label, so new_df.loc[2] will return the row where the original index label is 2, regardless of its position in new_df.
2. new_df.iloc[2]:
.iloc accesses rows based on position, so new_df.iloc[2] will return the row at the third position (position 2) in the reindexed DataFrame new_df, which corresponds to the index label 1 after reindexing.

Observed Difference:

Yes, there’s a difference in outputs. The difference arises because .loc uses the index label, while .iloc uses the row’s numerical position, so they may return different rows after reindexing.

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

Answer:

To find the mean of each column and the standard deviation of a specific column in df1, you can use the .mean() and .std() functions in Pandas.

To find the mean of each column and the standard deviation of a specific column in df1, you can use the .mean() and .std() functions in Pandas.

In [10]:
import pandas as pd
import numpy as np

# Define columns and indices
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']  # Example column names
indices = ['row_1', 'row_2', 'row_3', 'row_4', 'row_5', 'row_6']  # Example row indices

# Create DataFrame
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Calculating the mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# Calculating the standard deviation of 'column_2'
column_2_std = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(column_2_std)

Mean of each column:
column_1    0.522697
column_2    0.454604
column_3    0.450951
column_4    0.431223
column_5    0.529556
column_6    0.665344
dtype: float64

Standard deviation of 'column_2':
0.331252386166281

Explanation:

Mean of each column: df1.mean() computes the mean of each column in df1.
Standard deviation of column_2: df1['column_2'].std() calculates the standard deviation for column_2.

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

Answer:

In [11]:
import pandas as pd
import numpy as np

# Initial DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replacing the second row in 'column_2' with a string
df1.loc[2, 'column_2'] = "string_value"

# Attempting to calculate the mean of 'column_2'
try:
    column_2_mean = df1['column_2'].mean()
    print("Mean of 'column_2':", column_2_mean)
except Exception as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

<ipython-input-11-519108087b2d>:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = "string_value"

Explanation of the Error:

To run this code,  encounter an error when calculating the mean of column_2. This happens because:

Pandas cannot calculate the mean of a column that contains mixed data types (e.g., numeric and string values).

The presence of a string in column_2 makes the entire column a mixed-type or object column, so numerical operations like mean() will fail.
To resolve this issue,  either:

Remove or ignore non-numeric values in the column before calculating the mean.
Replace the string with a numeric value if  needed all data to be numeric for calculations.

In [12]:
import pandas as pd
import numpy as np

# Initialize the DataFrame again for context
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1, 2, 3, 4, 5, 6]
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace the data in the second row of 'column_2' with a string
df1.loc[2, 'column_2'] = 'string_value'

# Try to calculate the mean of 'column_2'
try:
    column_2_mean = df1['column_2'].mean()
    print("Mean of column_2:", column_2_mean)
except Exception as e:
    print("Error:", e)

Error: unsupported operand type(s) for +: 'float' and 'str'

<ipython-input-12-8ee60b8f5fd3>:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string_value'

Explanation
To run this code, get an error when trying to calculate the mean of column_2. This error occurs because:

Data Type Issue: The mean calculation requires numeric data, but introducing a string (like 'string_value') in column_2 changes its data type to an "object" column. Pandas cannot calculate the mean on a column containing non-numeric data.

Solution:

If  needed to perform calculations like the mean, ensure all values in the column are numeric.  replace the string with a numeric value or remove rows with non-numeric values before computing the mean:

In [13]:
# Optionally, replace the string with a numeric value
df1.loc[2, 'column_2'] = np.nan  # or another numeric value

# Now calculate the mean of 'column_2' with NaN handling
column_2_mean = df1['column_2'].mean()
print("\nMean of column_2 after replacing with NaN:", column_2_mean)

Mean of column_2 after replacing with NaN: 0.3936616378548295

Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Answer:

In Pandas, window functions are used to perform calculations across a set or "window" of data points in a DataFrame. These functions allow for rolling or expanding computations, making them useful for tasks like moving averages, cumulative sums, and more complex time-series analysis. Windows can be defined by a fixed size or can expand to include all previous data points up to the current one.

Types of Window Functions

Rolling Windows:

Operates on a fixed-sized window that moves across the data.
Commonly used for calculating rolling statistics like moving averages.
Example: .rolling(window=3).mean() calculates the mean over a window of 3 values.

Expanding Windows:

Expands the window to include all data points from the beginning up to the current point.

Useful for cumulative calculations like cumulative sum or cumulative max.
Example: .expanding().sum() calculates the cumulative sum up to each point.

Exponentially Weighted Windows:

Uses an exponentially weighted moving window, giving more importance to recent observations.

Useful for smoothing time series data while giving more weight to recent data points.

Example: .ewm(span=3).mean() calculates an exponentially weighted moving average with a smoothing factor.

Key Uses of Window Functions

Window functions are often used in financial analysis, stock prices, moving averages, smoothing noisy data, and analyzing seasonal trends in time series.


Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

Answer:

In [14]:
import pandas as pd

# Get current date and time
current_date = pd.Timestamp.now()

# Extract and print only the current month and year
print("Current month:", current_date.month)
print("Current year:", current_date.year)

Current month: 10
Current year: 2024

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

Answer:

In [ ]:
import pandas as pd

# Prompt user to input two dates
date_1_input = input("Enter the first date (YYYY-MM-DD): ")
date_2_input = input("Enter the second date (YYYY-MM-DD): ")

# Convert input strings to datetime objects
date_1 = pd.to_datetime(date_1_input)
date_2 = pd.to_datetime(date_2_input)

# Calculate the difference between the two dates
difference = date_2 - date_1

# Extract days, seconds from the timedelta
days = difference.days
seconds = difference.seconds

# Calculate hours and minutes from seconds
hours = seconds // 3600
minutes = (seconds % 3600) // 60

# Display the results
print(f"Difference: {days} days, {hours} hours, and {minutes} minutes.")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specifiedcolumn to a categorical data type. The program should prompt the user to enter the file path, column name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

# Function to read CSV and convert specified column to categorical
def convert_to_categorical(file_path, column_name, category_order):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Check if the specified column exists
    if column_name not in df.columns:
        print(f"Column '{column_name}' does not exist in the CSV file.")
        return

    # Convert the specified column to categorical type with ordered categories
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)

    # Sort the DataFrame based on the categorical column
    sorted_df = df.sort_values(by=column_name)

    # Display the sorted DataFrame
    print("\nSorted Data:")
    print(sorted_df)

# Main function
if __name__ == "__main__":
    # Prompt user for inputs
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert: ")
    category_order = input("Enter the category order (comma-separated): ").split(',')

    # Strip whitespace from category order
    category_order = [category.strip() for category in category_order]

    # Call the function to convert and display the sorted data
    convert_to_categorical(file_path, column_name, category_order)

Q10. Write a Python program that reads a CSV file containing sales data for different products and visualizes the data using a stacked bar chart to show the sales of each product category over time. The program should prompt the user to enter the file path and display the chart.

Answer:


To visualize sales data from a CSV file using a stacked bar chart, you can use the pandas library to read the data and matplotlib or seaborn for plotting. Below is a Python program that accomplishes this task:

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Function to read CSV and plot stacked bar chart
def plot_sales_data(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Check the DataFrame structure
    print("Data Preview:")
    print(df.head())

    # Ensure the DataFrame has the correct columns
    if 'Date' not in df.columns or 'Product Category' not in df.columns or 'Sales' not in df.columns:
        print("CSV must contain 'Date', 'Product Category', and 'Sales' columns.")
        return

    # Convert 'Date' column to datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Group by 'Date' and 'Product Category' and sum sales
    sales_data = df.groupby(['Date', 'Product Category'])['Sales'].sum().unstack()

    # Plotting the stacked bar chart
    sales_data.plot(kind='bar', stacked=True, figsize=(10, 6))

    plt.title('Sales by Product Category Over Time')
    plt.xlabel('Date')
    plt.ylabel('Sales')
    plt.xticks(rotation=45)
    plt.legend(title='Product Category')
    plt.tight_layout()  # Adjust layout to prevent clipping of labels
    plt.show()

# Main function
if __name__ == "__main__":
    # Prompt user for the file path
    file_path = input("Enter the CSV file path: ")

    # Call the function to plot sales data
    plot_sales_data(file_path)

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd
from tabulate import tabulate

def calculate_statistics(file_path):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(file_path)

    # Check if the DataFrame contains the required columns
    if 'Test Score' not in df.columns:
        print("The CSV file must contain a 'Test Score' column.")
        return

    # Calculate mean, median, and mode
    mean_score = df['Test Score'].mean()
    median_score = df['Test Score'].median()
    mode_score = df['Test Score'].mode().tolist()

    # Prepare the results for display
    results = {
        "Statistic": ["Mean", "Median", "Mode"],
        "Value": [mean_score, median_score, ', '.join(map(str, mode_score))]
    }

    # Convert results to DataFrame for better formatting
    results_df = pd.DataFrame(results)

    # Display the results in a table format
    print("\n" + tabulate(results_df, headers='keys', tablefmt='grid'))

# Main function
if __name__ == "__main__":
    # Prompt user for the file path
    file_path = input("Enter the file path of the CSV file containing the student data: ")

    # Call the function to calculate statistics
    calculate_statistics(file_path)

**Thank You!**